*.pyc

# ignore specific files:
SORE/SORE_settings_JEB_BMC.json

# ignore specific folders of this project:
SORE/data/processed_data/*
SORE/data/unprocessed_data/processed/*
SORE/data/narrowIE/*
SORE/data/filter_data/*
SORE/data/OpenIE/inputs/*
SORE/data/OpenIE/processed/*
SORE/data/brat_annotations/*

# do not ignore OASTM example files:
!SORE/data/narrowIE/OA-STM_all_arguments.csv
!SORE/data/filter_data/OA-STM_8000.model
!SORE/data/filter_data/OA-STM_8000.vocab
!SORE/data/filter_data/OA-STMIDF.json
!SORE/data/filter_data/vectors/nIE_emb_OA-STM_8000_avg_False_True.pkl
!SORE/data/filter_data/vectors/nIE_phrases_OA-STM_8000_avg_False_True.pkl
!SORE/data/OpenIE/processed/OA-STM*

# do not ignore the folder structure
!SORE/data/processed_data/.gitkeep
!SORE/data/unprocessed_data/processed/.gitkeep
!SORE/data/narrowIE/input/.gitkeep
!SORE/data/narrowIE/predictions/.gitkeep
!SORE/data/filter_data/elmo_pubmed/.gitkeep
!SORE/data/filter_data/vectors/.gitkeep
!SORE/data/OpenIE/inputs/.gitkeep
!SORE/data/OpenIE/processed/.gitkeep
!SORE/data/brat_annotations/annotation.conf
!SORE/data/brat_annotations/visual.conf
!SORE/data/brat_annotations/kb_shortcuts.conf
!SORE/data/brat_annotations/tools.conf

# ignore .idea config files
.idea/
.DS_Store
